li{
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  text-align: center;
}

.priority1 {
  border: solid 3px green;

}

.priority2 {
  border: solid 3px orange;

}

.priority3 {
  border: solid 3px red;

}
