.super-card{
  text-align: center;
  // margin-top: 5px;
  // margin-bottom: 5px;
  margin: 10px;
}

.priority1 {
  border-left: solid 8px green;
  border-radius: 4px;
}

.priority2 {
  border-left: solid 8px orange;
  border-radius: 4px;

}

.priority3 {
  border-left: solid 8px red;
  border-radius: 4px;

}
