<!-- TODO ADD -->
<div>
<p>
  <mat-toolbar>
    <span>Aggiungi un To Do</span>
  </mat-toolbar>
</p>

<!-- ---- PRIORITA' ---- -->
<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-full-width">
    <mat-label>Priorità</mat-label>
    <input matInput [(ngModel)]="newTodo.priority" maxlength="1" placeholder="Ex. 1,2,3" value="1">
  </mat-form-field></td>
</tr>

<mat-form-field>
  <mat-label>Priorità</mat-label>
  <mat-select>
    <mat-option value="1">Bassa</mat-option>
    <mat-option value="2">Media</mat-option>
    <mat-option value="3">Alta</mat-option>

  </mat-select>
</mat-form-field>
<!-- ---- TITOLO ---- -->
<mat-form-field class="example-form-field">
  <mat-label>Titolo</mat-label>
  <input matInput type="text" [(ngModel)]="newTodo.title">
  <button *ngIf="newTodo.title" matSuffix mat-icon-button aria-label="Clear" (click)="newTodo.title=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</table>
<!-- ---- DESCRIZIONE ---- -->
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Descrizione</mat-label>
    <textarea matInput placeholder="" [(ngModel)]="newTodo.description"></textarea>
  </mat-form-field>
</p>
<button class="salva-btn" mat-button (click)="saveTodo()">Salva</button>







<!-- id associato al For -->
<!-- <div>
  <label for="input-title">Inserisci Titolo</label>
  <input id="input-title" type="text" [(ngModel)]="newTodo.title">
</div> -->
<!-- <div>
  <label for="input-description">Inserisci Descrizione</label>
  <input id="input-description" type="text" [(ngModel)]="newTodo.description">
</div> -->

<!-- <div>
  <label for="input-priority">Inserisci Priorità</label>
  <input id="input-priority" type="text" [(ngModel)]="newTodo.priority">
</div>
<br> -->
