<h1 mat-dialog-title>Aggiungi un Todo</h1>
<div class="todo-dialog-content" mat-dialog-content>
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="saveTodo()" mat-button mat-dialog-close cdkFocusInitial>save</button>
</div>




























<!-- <div>
  <p>
    <mat-toolbar>
      <span>Aggiungi un To Do</span>
    </mat-toolbar>
  </p> -->

<!-- <table class="example-full-width" cellspacing="0"> -->

<!-- ---- TITOLO ---- -->
<!-- <mat-form-field class="example-form-field"> -->
<mat-label>Titolo</mat-label>
<input matInput type="text" [(ngModel)]="newTodo.title">
<button *ngIf="newTodo.title" matSuffix mat-icon-button aria-label="Clear" (click)="newTodo.title=''">
  <mat-icon>close</mat-icon>
</button>
<!-- </mat-form-field> -->

<!-- ---- DESCRIZIONE ---- -->
<!-- <p>
      <mat-form-field class="example-full-width">
        <mat-label>Descrizione</mat-label>
        <textarea matInput placeholder="" [(ngModel)]="newTodo.description"></textarea>
      </mat-form-field>
    </p> -->

<!-- ---- PRIORITA' ---- -->
<!-- <tr>
      <td><mat-form-field class="example-full-width">
          <mat-label>Priorità</mat-label>
          <mat-select [(ngModel)]="newTodo.priority">
            <mat-option value="1">Bassa</mat-option>
            <mat-option value="2">Media</mat-option>
            <mat-option value="3">Alta</mat-option>
          </mat-select>
        </mat-form-field></td>
    </tr> -->

<!-- ---- SALVA ---- -->
<!-- <button class="salva-btn" mat-button (click)="saveTodo()">Salva</button>

  </table>
</div> -->

<!-------------------------------------------------------------------------------------------->
<!-- id associato al For -->
<!-- <div>
  <label for="input-title">Inserisci Titolo</label>
  <input id="input-title" type="text" [(ngModel)]="newTodo.title">
</div> -->
<!-- <div>
  <label for="input-description">Inserisci Descrizione</label>
  <input id="input-description" type="text" [(ngModel)]="newTodo.description">
</div> -->

<!-- <div>
  <label for="input-priority">Inserisci Priorità</label>
  <input id="input-priority" type="text" [(ngModel)]="newTodo.priority">
</div>
<br> -->
